* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 12px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 0px;
}

footer {
  padding: 1% 0;
  background-color: #aaa;
}

header {
  display:flex;
  flex-direction:column;
  align-items: center;
  padding: 12% 0;
  align-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

.skills-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}  

.skills-icons img, 
.skills-icons svg {
  height: 50px;
  width: 50px;
  border: solid 1px grey;
  margin: 10px;
  border-radius: 4px 4px 4px 4px;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
} 

.projects div {
  width: 275px;
  border: solid 1px black;
  margin: 10px;
  border-radius: 6px 6px 6px 6px;
  background: lightgrey;
} 

.projects img {
  width: 95%;
  border: solid 1px black;
  margin: 5px;
}

.projectsHover:hover {
  opacity: 20%;
  background: black;
}

.projectsHover:hover > img,
.projectsHover:hover > p{
  visibility: hidden;
}

.projectsHover > div{
  visibility: hidden;
}

.projectsHover:hover > div{
  visibility: visible;
  position: fixed;
  color: white;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}  

.contact img,
.contact svg {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.contactHover {
  height: 60px;
  width: 60px;
  opacity: 50%;
  background: royalblue;
}

@media screen and (min-width: 1100px){
  body {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    align-items: center;
  }
  }