* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  
  
  header {
    padding: 12% 0;
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }

.skills-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}  

.skills-icons img {
    height: 50px;
    width: 50px;
    border: solid 1px black;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}  

.projects img {
    height: 300px;
    width: 300px;
    border: solid 1px black;
    margin: 10px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}  

.contact img {
    height: 50px;
    width: 50px;
    border: solid 1px black;
}